*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 25px;
}

body{
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-display: center;
    text-align: center;
    background-image:  url(../images/SproutLogo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

h1, h2, h3{
    border: 10px double black;
    border-radius: 20px 20px 20px 20px ;
    margin: 30px 30px;
    border-width: 1em;
    padding: 0 0 0 0;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bold;
    color: white;
    background-color: rgb(128, 43, 0, 0.9);
    text-align: center;
}

.form-group {
    color: white;
    margin: 15px;
    display: flex;
    justify-content: center;
}

.input-group{
    display: flex;
    justify-content: center;
    margin: 25px;
    
}

.input-group-text{
    margin-right: 10px;
    border-radius: 0;
}



.bg-color{
    background-color: rgba(10, 10, 10, 0.7);
    border-radius: 25px;;
    padding: 20px;
    margin: 40px 20px 20px 20px;
}

.logo{
    color: rgb(20, 20, 20);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 1rem 0 1rem 1rem;
}

.header-nav{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: white;
}

.header-nav-menu{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;

}    

.header-menu-item{
    margin-right: 1.5rem;
    text-decoration: none;
    color: black;
}

.header-menu-item a {
    text-decoration: none;
    color: black;
}

footer{ 
    color: rgb(231, 20, 20);
    font-weight: bold;
    
}

.footer-nav-column{
    text-decoration: none;
    list-style: none;
}

.footer-nav-item{
    text-decoration: none;
}

.text-color{
    color: white;
}

footer{
    color: white;
}